body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.well{color: #000;}

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");

.fa-fw {width: 2em;}

.nav-stacked a {
  padding-left: 0px !important;
  font-size: 15px;
}
